<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<mat-table
       [dataSource]="dataSource"
       cdkDropList
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)"
       matSort
       class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="employee_name">
    <mat-header-cell mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let employee"> {{employee.employee_name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="employee_salary">
    <mat-header-cell mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Salary </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let employee"> {{employee.employee_salary}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="employee_age">
    <mat-header-cell mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let employee"> {{employee.employee_age}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
